:root {
  --body-color: #cccdce;
  --main-bg-color: #f4f4f4;
  --main-text-color: #2c2c2c;
  --sec-text-color: #5f5f5f;
  --section-heading-color: #808080;
  --lightgray-color: #cacaca;
  --blue-color: #0060dd;
  --heading-font-size: 1.25rem;
  --text-font-size: 1rem;
  --shadow: 0rem 0rem 0.5rem #2c2c2c20;

  @media (max-width: 480px) {
    --heading-font-size: 1.125rem;
    --text-font-size: 0.9375rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
p,
li,
span {
  font-family: 'Golos Text', sans-serif;
  transition: color 0.3s ease;
}

p {
  line-height: 1.5rem;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

div {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icon {
  width: 0.8125rem;
  height: 0.8125rem;
  vertical-align: -0.125rem;
  transition: color 0.3s ease;
}

.checked {
  color: var(--blue-color) !important;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--body-color);
  transition: background-color 0.3s ease;

  &.dark-mode {
    --body-color: #353535;
    --main-bg-color: #252525;
    --main-text-color: #f0f0f0;
    --sec-text-color: #aaaaaa;
    --section-heading-color: #b3b3b3;
    --lightgray-color: #3d3d3d;
    --blue-color: #99bcff;
    --shadow: 0rem 0rem 1rem #2c2c2c;
  }

  @media (min-width: 1025px) {
    padding: 0 4rem;
  }
}

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 1rem;

  @media (min-width: 1025px) {
    display: none;
  }
}

.links {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border: 2px solid var(--main-text-color);
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--main-bg-color);
  box-shadow: var(--shadow);

  li {
    list-style-type: none;

    a {
      width: 4rem;
      height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1.5rem;
      color: var(--blue-color);
      transition: background-color 0.3s ease, border-radius 0.3s ease;
      text-decoration: none;

      .icon {
        width: 1rem;
        height: 1rem;
        color: var(--main-text-color);
        transition: transform 0.3s ease;
      }

      &:hover {
        background-color: var(--lightgray-color);
        border-radius: 0.875rem;

        .icon {
          transform: scale(1.25);
        }
      }
    }
  }
}

.dark-mode-switch {
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: 2px solid var(--main-text-color);
  border-radius: 50%;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  cursor: pointer;
  transition: background-color 0.3s;

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  &:hover {
    background-color: var(--lightgray-color);
  }

  @media (min-width: 481px) {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}

.page-wrapper {
  min-height: 100vh;
  align-self: stretch;
  padding: 2rem;
  background-color: var(--main-bg-color);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  @media (min-width: 769px) {
    padding: 4rem;
  }
  @media (min-width: 1025px) {
    margin: 2rem 0 0;
    box-shadow: var(--shadow);
  }
}

.header {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  @media (min-width: 481px) {
    gap: 1rem;
  }
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 0 0 0.5rem;

  @media (min-width: 481px) {
    flex-direction: row;
    gap: 2rem;
  }
}

.pfp {
  width: 20%;
  height: auto;
  max-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 481px) {
    width: 10%;
  }
}

.fullname {
  font-size: 1.1875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-text-color);

  @media (min-width: 401px) {
    font-size: 1.5rem;
  }

  @media (min-width: 481px) {
    font-size: 1.75rem;
  }
}

.contact-info,
.position {
  span {
    a {
      transition: color 0.3s ease;

      &:hover {
        color: var(--blue-color);
      }
    }
    &:not(:last-child)::after {
      content: '|';
      margin: 0 0.25rem;
    }
  }

  @media (max-width: 645px), (min-width: 769px) and (max-width: 850px) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    span:not(:last-child)::after {
      content: '';
      margin: 0 0.25rem;
    }
  }
}

.about-wrapper,
.main {
  @media (min-width: 1025px) {
    margin-left: 6rem;
  }
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .job-title {
    font-size: var(--texat-font-size);
    font-weight: 400;
    color: var(--main-text-color);
  }

  .contact-info {
    font-style: normal;

    a {
      text-decoration: none;
      color: var(--sec-text-color);
    }
  }

  @media (max-width: 768px) {
    margin-top: 0.25rem;
  }
}

.contact-info,
.about-info {
  font-size: var(--text-font-size);
  color: var(--sec-text-color);
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  @media (min-width: 1281px) {
    flex-direction: row;
  }
}

.section-heading {
  color: var(--blue-color);
  font-size: 0.75rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--blue-color);
}

.work-experience,
.education,
.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title {
    font-size: var(--heading-font-size);
    font-weight: 500;
    height: 2rem;
    text-transform: uppercase;
    color: var(--main-text-color);
  }

  .position {
    font-size: var(--text-font-size);
    font-weight: 400;
    color: var(--sec-text-color);

    &:not(:first-of-type) {
      margin-top: 1.25rem;
    }
  }
}

.company-1,
.company-2,
.company-3 {
  display: flex;
  flex-direction: column;
}

.tasks {
  margin: 0.5rem 0 0 1rem;
  gap: 1rem;

  li {
    list-style-position: outside;
    margin-left: 1rem;
    line-height: 1.5rem;
    color: var(--main-text-color);
    font-size: var(--text-font-size);

    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }
}

.education {
  .institution-1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .title {
    height: fit-content;
  }
}

.skills-table {
  min-width: 14rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    color: var(--main-text-color);
    font-size: var(--text-font-size);
    padding: 1rem 0.5rem;
    transition: border-bottom 0.3s ease, color 0.3s ease;

    .icon {
      color: var(--lightgray-color);
    }

    &:first-child {
      padding: 0 0.5rem 1rem 0.5rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--lightgray-color);
    }
  }
}

.spacer {
  @media (max-width: 768px) {
    height: 2rem;
  }
}
