@import url("../assets/fonts/Golos/Golos.css");
:root {
  --body-color: #cccdce;
  --main-bg-color: #f4f4f4;
  --main-text-color: #2c2c2c;
  --sec-text-color: #5f5f5f;
  --section-heading-color: #808080;
  --lightgray-color: #cacaca;
  --blue-color: #0060dd;
  --heading-font-size: 1.25rem;
  --text-font-size: 1rem;
  --black-shadow: 0rem 0rem 1rem #2c2c2c75;
}
@media (max-width: 480px) {
  :root {
    --heading-font-size: 1.125rem;
    --text-font-size: 0.9375rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
p,
li,
span {
  font-family: "Golos Text", sans-serif;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

div {
  transition: background-color 0.3s ease, color 0.3s ease;
}

i.fas,
i.fab {
  transition: color 0.3s ease;
  font-size: 0.8125rem;
}

.checked {
  color: var(--blue-color) !important;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--body-color);
  transition: background-color 0.3s ease;
}
body.dark-mode {
  --body-color: #353535;
  --main-bg-color: #252525;
  --main-text-color: #f0f0f0;
  --sec-text-color: #aaaaaa;
  --section-heading-color: #b3b3b3;
  --lightgray-color: #3d3d3d;
  --blue-color: #99bcff;
}
@media (min-width: 1025px) {
  body {
    padding: 0 4rem;
  }
}

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 1rem;
}
@media (min-width: 1025px) {
  .nav {
    display: none;
  }
}

.links {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  border: 2px solid var(--main-text-color);
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--main-bg-color);
  box-shadow: var(--black-shadow);
}
.links li {
  list-style-type: none;
}
.links li a {
  width: 4rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  color: var(--blue-color);
  transition: background-color 0.3s, border-radius 0.3s;
  text-decoration: none;
}
.links li a i.fas {
  font-size: 1rem;
  color: var(--main-text-color);
}
.links li:hover {
  background-color: var(--lightgray-color);
  border-radius: 0.875rem;
}

.dark-mode-switch {
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: 2px solid var(--main-text-color);
  border-radius: 50%;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  cursor: pointer;
  transition: background-color 0.3s;
}
.dark-mode-switch i.fas {
  font-size: 1.25rem;
}
.dark-mode-switch:hover {
  background-color: var(--lightgray-color);
}
@media (min-width: 481px) {
  .dark-mode-switch {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}

.page-wrapper {
  min-height: 100vh;
  align-self: stretch;
  padding: 2rem;
  background-color: var(--main-bg-color);
}
@media (min-width: 769px) {
  .page-wrapper {
    padding: 4rem;
  }
}
@media (min-width: 1025px) {
  .page-wrapper {
    margin: 2rem 0 0;
    box-shadow: var(--black-shadow);
  }
}
.header {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
@media (min-width: 481px) {
  .header {
    gap: 1rem;
  }
}

.profile-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media (min-width: 481px) {
  .profile-wrapper {
    gap: 2rem;
  }
}

.pfp {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pfp img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 350px) {
  .pfp {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (min-width: 400px) {
  .pfp {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 481px) {
  .pfp {
    width: 4rem;
    height: 4rem;
  }
}

.fullname {
  font-size: 1.1875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-text-color);
}
@media (min-width: 401px) {
  .fullname {
    font-size: 1.5rem;
  }
}
@media (min-width: 481px) {
  .fullname {
    font-size: 1.75rem;
  }
}

.contact-info span a,
.position span a {
  transition: color 0.3s;
}
.contact-info span a:hover,
.position span a:hover {
  color: var(--blue-color);
}
.contact-info span:not(:last-child)::after,
.position span:not(:last-child)::after {
  content: "|";
  margin: 0 0.25rem;
}
@media (max-width: 640px), (min-width: 769px) and (max-width: 850px) {
  .contact-info,
  .position {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .contact-info span:not(:last-child)::after,
  .position span:not(:last-child)::after {
    content: "";
    margin: 0 0.25rem;
  }
}

@media (min-width: 1025px) {
  .about-wrapper,
  .main {
    margin-left: 6rem;
  }
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.about-wrapper .job-title {
  font-size: var(--text-font-size);
  font-weight: 400;
  color: var(--main-text-color);
}
.about-wrapper .contact-info {
  font-style: normal;
}
.about-wrapper .contact-info a {
  text-decoration: none;
  color: var(--sec-text-color);
}
@media (max-width: 768px) {
  .about-wrapper {
    margin-top: 0.25rem;
  }
}

.contact-info,
.about-info {
  font-size: var(--text-font-size);
  color: var(--sec-text-color);
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;
}
.main .content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 1281px) {
  .main {
    flex-direction: row;
  }
}

.section-heading {
  color: var(--blue-color);
  font-size: 0.75rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--blue-color);
}

.work-experience,
.education,
.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.work-experience .title,
.education .title,
.skills .title {
  font-size: var(--heading-font-size);
  font-weight: 500;
  height: 2rem;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.work-experience .position,
.education .position,
.skills .position {
  font-size: var(--text-font-size);
  font-weight: 400;
  color: var(--sec-text-color);
}
.work-experience .position:not(:first-of-type),
.education .position:not(:first-of-type),
.skills .position:not(:first-of-type) {
  margin-top: 1.25rem;
}

.company-1,
.company-2,
.company-3 {
  display: flex;
  flex-direction: column;
}

.tasks {
  margin: 0.5rem 0 0 1rem;
  gap: 1rem;
}
.tasks li {
  list-style-position: outside;
  margin-left: 1rem;
  line-height: 1.5rem;
  color: var(--main-text-color);
  font-size: var(--text-font-size);
}
.tasks li:not(:first-child) {
  margin-top: 0.5rem;
}

.skills-table {
  min-width: 14rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.skills-table li {
  list-style: none;
  color: var(--main-text-color);
  font-size: var(--text-font-size);
  padding: 1rem 0.5rem;
  transition: border-bottom 0.3s ease;
}
.skills-table li i.fas {
  color: var(--lightgray-color);
}
.skills-table li:first-child {
  padding: 0 0.5rem 1rem 0.5rem;
}
.skills-table li:not(:last-child) {
  border-bottom: 1px solid var(--lightgray-color);
}

@media (max-width: 768px) {
  .spacer {
    height: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */