/* Golos Regular */
@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  src: url('./GolosText-Regular.ttf') format('truetype');
  font-display: swap;
}

/* Golos Medium */
@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 500;
  src: url('./GolosText-Medium.ttf') format('truetype');
  font-display: swap;
}

/* Golos Bold */
@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 700;
  src: url('./GolosText-Bold.ttf') format('truetype');
  font-display: swap;
}
